#root {
  min-height: 100vh;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.content {
  margin-top: 80px; /* chiều cao header */
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px; /* Tăng độ rộng tối đa của khung nội dung */
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  flex: 1;
  margin-top: 100px; /* Khoảng cách dưới Header */
}
/* Làm cho khung giỏ hàng trông thanh thoát hơn */
.cart-list-container {
  border: 1px solid #ffffff;

}
.cart-list {
  width: 100%;
  max-width: 1100px; /* Tăng độ rộng để nhìn cho to rõ */
  margin: 0 auto;
}
.cart-item-row:last-child {
  border-bottom: none !important;
}


.cart-item-row:hover {
  background-color: #fafafa;
}


.cart-item-quantity button {
  border: none;
  background: transparent;
  font-size: 1.2rem;
}

.cart-item-quantity button:hover {
  background-color: #f0f0f0;
}
.increaser{
  width: 200px;
}
.checkout-container {
  background-color: #f4f4f4;
}
.checkout-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}