html, body, #root, .app-wrapper {
  width: 100% !important;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.content {
  width: 100%;
  margin-top: 80px; 
  display: flex;
  flex-direction: column;
}

.container, .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
}
.header-nav .container {
  max-width: 1200px !important; 
  margin: 0 auto !important;  
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}


.logo-img {
  height: 70px; /* Chỉnh lại kích thước nếu cần */
  width: auto;
}

/* Khoảng cách giữa các mục menu */
.main-menu {
  gap: 30px; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.content {
  margin-top: 80px; /* chiều cao header */
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
